.bigCounter {
    text-align: center;
    background-color: black;
    padding: 15px;
    margin: 5px;
}

.bigCounter div{
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: azure;
    padding: 50px;
}